<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PathArbol" value="C:\\Users\\gonss\\Desktop\\Segundo Parcial\\Arbol.txt"/>
		<add key="PathAmplitud" value="C:\\Users\\gonss\\Desktop\\Segundo Parcial\\Amplitud.txt"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>